:root {
  --grid-rows: 5;
  --grid-cols: 5;
}

.main {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.game-play,
.logistics {
  display: flex;
  flex-flow: column wrap;
}

.game-play {
  gap: 40px;
}

.logistics {
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  max-width: 900px;
}

.row {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}

/* grid CSS, playing around */
/* .card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
} */

@media (max-width: 1000px) {
  .main {
    flex-flow: column wrap;
  }
}

.timer,
.info {
  text-align: center;
}

.title {
  display: inline-block;
}
