:root {
  --grid-rows: 5;
  --grid-cols: 5;
}

.main {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.game-play,
.logistics {
  display: flex;
  flex-flow: column wrap;
}

.game-play {
  gap: 40px;
}

.logistics {
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .main {
    flex-flow: column wrap;
  }
}

@media (max-width: 984px) {
  .row {
    max-width: 500px;
  }
}

.timer,
.info {
  text-align: center;
}

.title {
  display: inline-block;
}
