@font-face {
  font-family: "Junge";
  src: url("../font/Junge-Regular.ttf") format("truetype");
}

:root {
  --grid-rows: 5;
  --grid-cols: 5;
}

/**
 * Layout
 */
.main {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.game-play,
.logistics,
.sixcol,
.buttons {
  display: flex;
  flex-flow: column wrap;
}

.game-play {
  gap: 40px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

.logistics {
  justify-content: space-around;
}

.buttons {
  width: 149px;
  margin: 0 auto;
  gap: 30px;
  justify-content: space-around;
}

@media (max-width: 984px) {
  .row {
    max-width: 500px;
  }
}

@media (max-width: 900px) {
  .main {
    flex-flow: column wrap;
  }
}

.timer,
.info {
  text-align: center;
}

.title {
  display: inline-block;
}

/*
* Colors
*/
body {
  background-color: #1c0f13;
  color: #ebebeb;
  font-family: "Junge", sans-serif;
  font-size: 18px;
}

button {
  background-color: #9882ac;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
}

.timer {
  font-size: 24px;
}
