<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Scoreboard</title>
  </head>

  <body>
    <main class="container">
      <h2 class="text-center">Scoreboard</h2>
      <ol>
        <% scores.forEach(score => { %>
        <li><%= score.name %> : <%= score.score %></li>
        <% }) %>
      </ol>
    </main>

    <div class="btns">
      <button class="next-theme" type="button">
        Next theme
      </button>
      <form action="/" method="get">
        <button class="scoreboard-btn" type="submit">Concentration</button>
      </form>
    </div>

  </body>

</html>
